@import '../../../../../../styles/main.scss';

.form {
  display: flex;
  flex-direction: column;
  background-color: $WHITE;
}

.input {
  width: 100%;
  @include text(rem(14px), 500, $LIGHT_GRAY);
  line-height: 82%;
  letter-spacing: 0.15px;
  border-radius: 4px !important;
  border: 1px solid $BORDER;
  padding: 10px 15px;
  margin-bottom: 15px;
  outline-color: $GREEN;
  &::placeholder {
    color: $LIGHT_GRAY;
  }
}

.btn {
  @include text(rem(14px), 500, $WHITE);
  background-color: $GREEN;
  border-radius: 4px;
  letter-spacing: 0.15px;
  text-align: center;
  padding: 14px 10px;
  margin-right: 10px;
  cursor: pointer;
  &:last-of-type {
    margin-right: 0;
  }
}

.cancel {
  background-color: $LIGHT_GRAY;
  color: $GRAY;
}
